<!-- Page Content -->
<div class="hero-static d-flex align-items-center" style="background: #62c6cb; background: linear-gradient(90deg, #62c6cb 0%, #98bb43) !important;">
    <div class="w-100">
        <!-- Sign In Section -->
        <div class="content content-full bg-white">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-3 py-4">
                    <!-- Header -->
                    <div class="text-center">
                        <p class="mb-2">
                            <img src="/logo.png" style="width: 150px;" alt="">
                        </p>
                        <h1 class="h4 mb-1">Criar conta</h1>
                        
                    </div>

                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: "js-validation-signin") do |f| %>

                        <div class="py-3">
                            <div class="form-group">
                                <%= f.input :identity_number, required: true, input_html: { class: "form-control form-control-lg form-control-alt" }, placeholder: "000045000LA033", label: "Nº Bilhete Identidade" %>
                            </div>

                            <div class="form-group">
                                <%= f.input :email, required: true, input_html: { class: "form-control form-control-lg form-control-alt" }, placeholder: "Seu Email", label: "Email", error: 'E-mail inválido.' %>
                            </div>

                            <div class="form-group">
                                <%= f.input :cell_phone, required: true, input_html: { class: "form-control form-control-lg form-control-alt" }, placeholder: "Nº de telefone", label: "Telefone" %>
                            </div>

                            
                            <div class="form-group">
                                <%= f.input :password, required: true, input_html: { class: "form-control form-control-lg form-control-alt", id: "inputPass" }, placeholder: "Ex: Qwerty#11", label: "Senha" %>
                                <span class="eye-section" onclick="openEye()">
                                    <i class="fas fa-eye" id="eyeOpen"></i>
                                    <i class="fas fa-eye-slash" id="eyeClose"></i>
                                </span>
                            </div>
                                

                            <div class="form-group">
                                <div class="py-2">
                                    <%= f.input :confirmation_terms, label: 'Concordo com os termos e condições', error: 'Os termos de confirmação devem ser aceitos' %>
                                    <p style="margin-bottom: 0; font-size: 15px;"><a href="/docs/termos_e_condicoes.pdf" target="_blank" ><em>Ler os termos e condições</em></a></p>

                                </div>
                            </div>

                            <div class="form-group row justify-content-center mb-0">
                                <div class="col">
                                    <button type="submit" class="btn btn-block btn-p3" id="btn_register" data-toggle="tooltip" title="Concordar com os termos e condições">
                                        Criar conta
                                    </button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-md-flex align-items-md-center justify-content-md-between">
                                    <div class="py-2">
                                        <%= link_to "Iniciar sessão", "/users/sign_in", class: "font-size-sm", class: "pass" %>
                                    </div>

                                </div>
                            </div>
                        </div>

                    <% end %>
                </div>
            </div>
        </div>
        <!-- END Sign In Section -->

        <!-- Footer -->
        <div class="font-size-sm text-center text-muted py-3">
            <div class="container">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="text-footer-login text-white nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="text-footer-login text-white nav-link" href="/docs/termos_e_condicoes.pdf" target="_blank" >Termos e condições</a></li>
                    <li class="nav-item"><a class="text-footer-login text-white nav-link" href="/docs/politicas_de_privacidade.pdf" target="_blank" >Politicas de privacidades</a></li>
                    <li class="nav-item"><a class="text-footer-login text-white nav-link" href="/docs/contrato_de_adesao.pdf" target="_blank" >Contrato de adesão</a></li>
                    <li class="nav-item"><a class="text-footer-login text-white nav-link" href="#"><b><%= version_app %></b> &copy; <span data-toggle="year-copy"></span></a></li>
                </ul>

            </div>
        </div>
        <!-- END Footer -->
    </div>
</div>
<!-- END Page Content -->

<script type="text/javascript">
    function openEye(){
    var inputPass = document.getElementById("inputPass");
    var eyeOpen = document.getElementById("eyeOpen");
    var eyeClose = document.getElementById("eyeClose");



    if (inputPass.type === "password") {
        inputPass.type = "text";
        eyeOpen.style.display = "inline";
        eyeClose.style.display = "none";
    }
    else {
        inputPass.type = "password";
        eyeOpen.style.display = "none";
        eyeClose.style.display = "inline";
    }
}
</script>