<!-- Hero -->
<div class="bg-image" style="background-image: url('/home.svg');">
    <div class="bg-black-50">
        <div class="content content-full text-center">
            <div class="my-3">
                <% if @config.logo.attached? %>
                    <%= image_tag(@config.logo, class: "img-avatar img-avatar-thumb") %>
                <% else %>
                    <img class="img-avatar img-avatar-thumb" src="/templete/assets/media/avatars/avatar13.jpg" alt="">
                <% end %>
            </div>
            <h1 class="h2 text-white mb-0"><%= @config.name %></h1>
            <span class="text-white-75"><%= @config.cell_phone %></span>
        </div>
    </div>
</div>
<!-- END Hero -->

<%= simple_form_for(@config) do |f| %>
    <div class="content content-boxed">
        <div class="row">
            <div class="col-md-12">

            <div class="col-md-12">
                <!-- Updates -->
                <ul class="timeline timeline-alt py-0">
                    <li class="timeline-event">
                        <div class="timeline-event-icon bg-p3">
                            <i class="fa fa-edit"></i>
                        </div>
                        <div class="timeline-event-block block invisible" data-toggle="appear">
                            <div class="block-header">
                                <h3 class="block-title">Actualizar configurações</h3>
                            </div>
                            
                            <div class="block-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <%= f.input :name, label: 'Nome completo' %>
                                        <%= f.input :nif, label: 'NIF' %>
                                        <%= f.input :version, label: 'Versão da Aplicação' %>
                                        <br>
                                        <%= f.input :logo, label: 'Logotipo da Paga3' %>
                                        <hr>
                                        <%= f.input :nipc, label: 'NIPC' %>
                                        <%= f.input :iec, label: 'IEC' %>

                                    </div>

                                    <div class="col-md-6">
                                        <%= f.input :cell_phone, label: 'Nº de telefone' %>
                                        <%= f.input :email, label: 'E-mail' %>
                                        <%= f.input :address, label: 'Endereço' %>
                                        <%= f.input :effort_rate, label: 'Taxa de esforço' %>
                                        <hr>
                                        <%= f.input :province, label: 'Província' %>
                                        <%= f.input :municipality, label: 'Município' %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

                <div class="form-actions text-right">
                    <%= f.button :submit, "Actualizar", class: "btn btn-p3 btn-sm mr-2" %>
                    <%= link_to 'Cancelar', configuration_path(@config), class: 'btn btn-sm btn-danger' %>
                </div>
                <!-- END Updates -->

            </div>
        </div>
    </div>

<% end %>