    <div class="row">
        <div class="col-md-9">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)">
                        <div class="block-content block-content-full bg-p3">
                            <div class="font-size-sm font-w600 text-uppercase text-muted">Saldo disponóvel</div>
                            <div class="font-size-h2 font-w400 text-dark">
                                <%= current_user.profile.purchase_amount.to_kwanza %>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <p class="mb-0">
                        Ver Produtos e lojas 
                        <a href="<%= empresas_path %>" target="_blank">
                            <span class="far fa-hand-point-right icon-go-to-profile" style="font-size: 38px;"></span>
                        </a>
                    </p>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <% unless current_user.profile.adc_subscribed.attached? %>
                <div class="text-right">
                    <p>
                        Baixar a ADC (Autorização de Débito em
                        Conta). Assinar conforme a assinatura do bilhete, preencher a data e local. Após
                        assinatura carregar a mesma na plataforma
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        carregar ADC Assinada
                    </button>
                </div>
            <% end %>
        
            <div class="row d-none d-lg-block">
                <%= render 'dashboard/customer/publish' %>
            </div>

        </div>
    </div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <%= simple_form_for(@profile, :url => adc_subscribed_path, :method => :post) do |f| %>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Carregar ADC Assinada</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <%= f.input :adc_subscribed, label: 'Selecione a ADC assinado' %>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <%= submit_tag "Submeter", class: "btn-sm btn btn-primary" %>
                </div>
            <% end %>
        </div>
    </div>
</div>