<!-- Hero -->
<div class="bg-image" style="background-image: url('/home.svg');">
    <div class="bg-black-50">
        <div class="content content-full text-center">
            <div class="my-3">
                <% if @publicity.avatar.attached? %>
                    <%= image_tag(@publicity.avatar, class: "img-avatar img-avatar-thumb") %>
                <% else %>
                    <img class="img-avatar img-avatar-thumb" src="/templete/assets/media/avatars/avatar13.jpg" alt="">
                <% end %>
            </div>
            <span class="text-white-75"><%= @publicity.description %></span>
        </div>
    </div>
</div>
<!-- END Hero -->

<!-- Stats -->
<div class="bg-white border-bottom">
    <div class="content content-boxed">
        <div class="row items-push text-center">
            <div class="col-6 col-md-2">
                <div class="font-size-sm font-w600 text-muted text-uppercase">Total Pubs</div>
                <a class="link-fx font-size-h3" href="javascript:void(0)"><%= @publicities.count %></a>
            </div>
            <div class="col-6 col-md-2">
                <div class="font-size-sm font-w600 text-muted text-uppercase">Quant. Ativas</div>
                <a class="link-fx font-size-h3" href="javascript:void(0)"><%= @publicitiesIsActive.count %></a>
            </div>
            <div class="col-6 col-md-2">
                <div class="font-size-sm font-w600 text-muted text-uppercase">Quant. Inativas</div>
                <a class="link-fx font-size-h3" href="javascript:void(0)"><%= @publicitiesIsDisable.count %></a>
            </div>
            <div class="col-6 col-md-6 text-right">
                <%= link_to 'actualizar', edit_publicity_url(@publicity), class: "btn btn-sm btn-success" %>

                <% if current_user.admin? %>
                    <% if @publicity.status %>
                        <%= link_to 'Remover PUB', show_pub_on_client_url(@publicity), class: "btn btn-sm btn-info" %>
                    <% else %>
                        <%= link_to 'Ativar PUB', show_pub_on_client_url(@publicity), class: "btn btn-sm btn-info" %>
                    <% end %>
                <% end %>
                
                <%= link_to 'Voltar', publicities_url, class: "btn btn-sm btn-danger" %>
            </div>
        </div>
    </div>
</div>
<!-- End Stats -->

<!-- Page Content -->
<div class="content content-boxed">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <!-- Updates -->
            <ul class="timeline timeline-alt py-0">
                <li class="timeline-event">
                    <div class="timeline-event-icon bg-p3">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="timeline-event-block block invisible" data-toggle="appear">
                        <div class="block-header">
                            <h2 class="block-title">Detalhes da publicidade</h2>
                        </div>

                        <div class="block-content">
                            <p><span class="font-w600 mb-2">Descrição: </span><span
                                    class="font-size-sm"><%= @publicity.description %></span></p>
                            <p><span class="font-w600 mb-2">Data de início: </span><span
                                    class="font-size-sm"><%= @publicity.start_date %></span></p>
                            <p><span class="font-w600 mb-2">Data de término: </span><span
                                    class="font-size-sm"><%= @publicity.end_date %></span></p>
                        </div>
                    </div>
                </li>

            </ul>
            <!-- END Updates -->
        </div>
    </div>
</div>
<!-- END Page Content -->

<%#= link_to 'Edit', edit_publicity_path(@publicity) %>
<%#= link_to 'Back', publicities_path %>